services:
  - type: web
    name: telegram-file-renamer
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 8000
    healthCheckPath: /api/health
    autoDeploy: true
